body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
